# Entorno virtual
venv/
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints

# Datos y salidas pesadas
*.csv
*.xlsx
*.pkl
outputs/
venv/
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
outputs/
